<a href="/home">Home</a>
<span>/</span>
<a href="/administrator/connect">Connect administration center</a>
<span>/</span>
<a href="/administrator/connect/stripe-accounts">Stripe accounts</a>
<span>/</span>
<a href="/administrator/connect/stripe-account?stripeid=${stripeAccount.id}">Account</a>
<a href="/administrator/connect/delete-account?stripeid=${stripeAccount.id}">Delete</a>
<a href="/administrator/connect/reject-account?stripeid=${stripeAccount.id}">Reject</a>