<a href="/home">Home</a>
<span>/</span>
<a href="/account/connect">Stripe Connect</a>
<span>/</span>
<a href="/account/connect/stripe-account?stripeid=${stripeAccount.id}">Stripe account</a>
<a id="navbar-edit-individual" href="/account/connect/edit-individual-registration?stripeid=${stripeAccount.id}">Edit registration</a>
<a id="navbar-edit-company" href="/account/connect/edit-company-registration?stripeid=${stripeAccount.id}">Edit registration</a>
<a href="/account/connect/edit-payment-information?stripeid=${stripeAccount.id}">Edit payment information</a>
<a id="navbar-additional-owners" href="/account/connect/additional-owners?stripeid=${stripeAccount.id}">Company owners</a>
<a id="navbar-submit-individual" href="/account/connect/submit-individual-registration?stripeid=${stripeAccount.id}">Submit</a>
<a id="navbar-submit-company" href="/account/connect/submit-company-registration?stripeid=${stripeAccount.id}">Submit</a>
<a href="/account/connect/delete-stripe-account?stripeid=${stripeAccount.id}">Delete</a>